.bgct {
    background-image: url("../../images/25522257_v856-kul-27.jpg");
    background-repeat: no-repeat;
    background-position-x: 77vw ;
    background-position-y: 50vh ;
    background-size: 260px 250px; /* กำหนดขนาดของรูป 200px x 200px */
}
.bgct2 {
    background-image: url("../../images/25522257_v856-kul-27.jpg");
    background-repeat: no-repeat;
    background-position-x: 15vw ;
    background-position-y: 50vh ;
    background-size: 260px 250px; /* กำหนดขนาดของรูป 200px x 200px */
}
.bgct3{
    background-image: url("../../images/25522257_v856-kul-27.jpg");
    background-repeat: no-repeat;
    background-position-x: 15vw ;
    background-position-y: 50vh ;
    background-size: 260px 250px; /* กำหนดขนาดของรูป 200px x 200px */
}
.swx{
    width: 70%;
}
.swx-comment{
    width: 50%;
}
.glasx{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
/* เมื่อหน้าจอมีความกว้างน้อยกว่าหรือเท่ากับ 980px */
@media (max-width: 425px) {
    .swx {
        width: 100%; /* เปลี่ยนความกว้างเมื่อจอลดลง */
    }
}
